<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logs</title>
</head>
<body>
    <h1>Dashboard Page</h1>
    <h3>Not implemented yet, check other pages</h3>
     <ul>
        <li>
             <a th:href="@{/admin/employee_list}">Employee List</a>
        </li>
        <li>
             <a th:href="@{/}">Dashboard</a>
        </li>
        <li>
             <a th:href="@{/admin/employee_list}">Sections</a>
        </li>
        <li>
             <a th:href="@{/admin/employee_list}">Supply requests</a>
        </li>
     </ul>
</body>
</html>