<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>First thymeleaf page</title>
</head>
<body>
    <div align="center">
       <h1>Employee List</h1>
        <table border="1" class="employee_list">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>username</th>
                    <th>Fullname</th>
                    <th>Role</th>
                    <th>Join date</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="employee : ${getAllEmployees}">
                    <td th:text="${employee.id}"></td>
                    <td th:text="${employee.username}"></td>
                    <td th:text="${employee.fullName}"></td>
                    <td th:text="${employee.role}"></td>
                    <td th:text="${employee.createdAt}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>